# -*- coding: utf-8 -*-



# File: .example.env
# Created at 03/11/2021


# Queue for workers
CELERY_BROKER_URL=redis://127.0.0.1:6379/8

# Redis for local service
REDIS_URL=redis://203.205.21.196:6379/10

# Redis cluster for group service
REDIS_CLUSTER=[{ "host":"203.205.21.196", "port":6001 }, { "host":"203.205.21.196", "port":6002 }, { "host":"203.205.21.196", "port":6003 }]

# Redis cluster for all service in Rinz: Ex: music, farm, network, .v.v.
REDIS_GLOBAL=[{ "host":"203.205.21.196", "port":6001 }, { "host":"203.205.21.196", "port":6002 }, { "host":"203.205.21.196", "port":6003 }]

INSIDE_APIKEY=3b32786a3e7583ac9b3775f0511156af

MONGODB_URI=mongodb://127.0.0.1:27027/rinz-...
KAFKA_SERVER=127.0.0.1:9092